.HeaderContainer {
    background: rgba(61, 61, 61, 0.5);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 1) 100%);
    margin-left: 10%;
}

.Background {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgb(212, 174, 121) 0%, rgb(112, 144, 145) 100%);
    width: 100vw;
    height: 100%;
}