.navBar {
    overflow-x: hidden;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    background-color: black;
    opacity: 1;
}

.navItem {
    padding: 3px 12px;
    color: white;
    border-radius: 5px;
    font-weight: 400;
}

.navItem:hover {
    background-color: var(--nav-item-color)
}

.navText {
    cursor: pointer;
}

.navText:hover {
    opacity: 1 !important;
}